name: Dependency Review
on: [pull_request]
permissions:
    contents: read
    pull-requests: read
jobs:
    review:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/dependency-review-action@v4
                with:
                    fail-on-severity: high
                    # allow-licenses: MIT,Apache-2.0
                    # deny-licenses: GPL-3.0
                    # comment-summary-in-pr: true